<div class="tabs-container">
  <ul class="tabs">
    <li class={{if this.isFeeds "active"}} {{action 'selectFeeds'}}>Feeds</li>
    <li class={{if this.isFavorites "active"}} {{action 'selectFavorites'}}>Favorites</li>
  </ul>
</div>
